<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Management System</title>
</head>
<body>

<h2>Student Management System</h2>

<a href="/new">Add Student</a>

<br><br>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Action</th>
    </tr>

    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.course}"></td>

        <td>
            <a th:href="@{'/delete/' + ${student.id}}">
                Delete
            </a>
        </td>

    </tr>

</table>

</body>
</html>